<!DOCTYPE html>
<html>
<head>
    <title>Voice Assistant</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function() {
            console.log('Connected to server');
        });

        function askQuestion(question, required) {
            socket.emit('ask_question', {question: question, required: required});
        }

        socket.on('response', function(data) {
            console.log('Response:', data.response);
            document.getElementById('response').innerText = 'Response: ' + data.response;
        });
    </script>
</head>
<body>
    <h1>Voice Assistant</h1>
    <button onclick="askQuestion('Is technology making humanity better?', true)">Ask Question</button>
    <p id="response">Response will appear here</p>
</body>
</html>
